<!doctype html>
<html lang="en" ng-app="TodoApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Angular • TodoMVC</title>
	<link rel="stylesheet" href="../../assets/base.css">
	<!--[if IE]>
	<script src="../../assets/ie.js"></script>
	<![endif]-->
</head>
<body ng-controller="TodoController" ng-cloak>
	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<form ng-submit="createTodo()" >
				<input id="new-todo" ng-model="newItem" placeholder="What needs to be done?" autofocus>
			</form>
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section id="main" ng-show="todos.length">
			<input id="toggle-all" type="checkbox" ng-checked="allCompleted()" ng-click="toggleCompletion()">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list">
				<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
				<li ng-repeat="todo in todos | filter:displayFilter"
					ng-class="{'completed': todo.completed, 'editing': todo.editing}">
					<div class="view" ng-dblclick="todo.editing = true">
						<input class="toggle" type="checkbox" ng-model="todo.completed" checked>
						<label>{{ todo.name }}</label>
						<button class="destroy" ng-click="deleteTodo($index)"></button>
					</div>
					<input class="edit" todo-commit="updateTodo($index)" todo-focus="todo.editing" ng-model="todo.name">
				</li>
			</ul>
		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer id="footer" ng-show="todos.length">
			<!-- This should be `0 items left` by default -->
			<span id="todo-count"><strong>{{ todos.length }}</strong>
				<span ng-pluralize
					count="todos.length"
					when="{'one': 'item', 'other': 'items'}"></span>
				left</span>
			<ul id="filters">
				<li>
					<a ng-class="{selected: displayFilter.completed == undefined}" href="#/">All</a>
				</li>
				<li>
					<a ng-class="{selected: displayFilter.completed == false}" href="#/active">Active</a>
				</li>
				<li>
					<a ng-class="{selected: displayFilter.completed == true}" href="#/completed">Completed</a>
				</li>
			</ul>
			<button id="clear-completed" ng-click="clearCompleted()" ng-show="remainingCount()">Clear completed
				({{ remainingCount() }})</button>
		</footer>
	</section>
	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
		<p>Created by <a href="http://github.com/tshm">Tosh Shimayama</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<script src="../../assets/base.js"></script>
	<script src="js/lib/angular-1.0.0rc8.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
